:root {
    --font-color: #fff;
    --back-color: #B20040;
}

body {
    margin: 0;
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: var(--font-color);
    text-decoration: none;
}

#questions, #welcome, #thanks {
    background: var(--back-color);
    height: 100vh;
    position: relative;
}

#welcome h1 {
    font-size: 4em;
    margin: 15px;
}

#welcome button {
    font-size: 1em;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.question, .heading {
    height: 100px;
    position: absolute;
    top: calc(50% - 50px);
    text-align: center;
    width: 100%;
    transition: 0.5s all;
}

#welcome .heading {
    top: calc(50% - 70px);
}

.question label {
    font-size: 1.5em;
    color: var(--font-color);
}

.question > span {
    display: inline-block;
    margin-top: 15px;
    position: relative;
}

.question input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #fff;
    color: var(--font-color);
    font-size: 2em;
    outline: none;
    padding: 5px 35px 5px 15px;
}

.question input::placeholder {
    color: var(--font-color);
    opacity: 0.5;
}

.question .go {
    color: var(--font-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 30px; 
    position: absolute;
    right: 5px;
    top: 5px
}

.question .error {
    display: none;
    position: absolute;
    bottom: -25px;
    width: 100%;
    left: 0;
    color: #fff;
    opacity: .7;
}
.question input:focus {
    background: #D87E9E;
}

.button {
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    min-width: 100px;
    border-radius: 3px;
    background: transparent;
}

.button:hover, .button.active, .button:focus {
    background: var(--font-color);
    color: var(--back-color);
    outline: none;
}

.button:first-child {
    margin-right: 10px;
}

[data-active="false"] {
    opacity: 0;
    transform: translateX(-100%);
}

[data-active="true"] {
    opacity: 1;
    transform: translateX(0);
}

#thanks h1 {
    font-size: 2em;
    margin: 15px;
}

#thanks .question {
    line-height: 1.3;
    top: calc(50% - 80px);
}

#thanks small {
    font-size: 14px;
}

.importantLink {
    background: var(--font-color);
    color: var(--back-color);
    display: inline-block;
    padding: 0 2px;
    font-style: italic;
}